body{
    height: 100vh;

    display: flex;
    justify-content: center  ;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(243, 242, 242);
    margin: 5px;


}
.body-log{
    width: 50%;


}
.body-log p{
    font-size: 20px;
    
}
.logo{
    color: rgb(79, 127, 203);
    font-size: 80px;
    margin-top: 5px;
    

}
.container{
    width: 30%;
    border-radius: 10px;
    padding: 20px;
box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 5px;
    
}
 input[type="email"],
input[type="password"] {
    width: 95%;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #dddfe1;
            margin: 1px;
            margin: 4px;

}

.login-bt{
    background:rgb(28, 76, 187);
    color: white;
    cursor: pointer;
    border:#052e55;
    border-radius: 5px;
    width: 100%;
        padding: 10px;
        margin: 4px;


}
.forgot{
    text-align: center;
    color: #136abb;
            margin: 1px;

}
.line{
    background-color: #ced0d1;
    width: 100%;
    height: 1px;
            margin: 4px;



}
.create-acc{
    background-color: rgb(83, 229, 83);
    color: white;
    cursor: pointer  ;
border-radius: 5px;
border:green;
width: 60%;
align-self: center;
    padding: 10px;
            margin: 8px;
            font-size: 16px;


}

