.card {
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 12px;
  background: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.thumbs {
  display: flex;
  gap: 6px;
}

.thumbs img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 6px;
  object-fit: cover;
}

.price {
  font-weight: bold;
  color: green;
}

.share {
  display: flex;
  gap: 10px;
}
